/* 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.app-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.app-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: calc(24px + 2vmin);
  font-weight: 900;
}

.trackList {
  background-color: #DDDDDD;
  min-height: 300px;
  border-style: none;
  border-radius: 25px;
  padding: 5px;
}

.playlistTracksList {
  background-color: #DDDDDD;
  min-height: 300px;
  border-style: none;
  border-radius: 25px;
  padding: 5px;
}

.playlist {
  /* width: 100%; */
}

.topSection {
  min-height: 105px;
  margin: 10px 0 0 0;
}

.sectionTitle {
  font-size: 120%;
  font-weight: bold;
  color: #555555;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 10px 0;
}

.savePlaylistButtonSection {
  margin: 15px 0 0 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.track {
  background-color: papayawhip;
  border-style: solid;
  margin: 10px;
  /* border: 10px; */
  border-style: none;
  border-radius: 10px;
  padding: 3px 25px 3px 25px;
  margin: 12px 12px 12px 12px;

  display: grid;
  grid-template-areas:
    'trackinfo buttonarea';
  gap: 10px;
}

.trackInfo {
  grid-area: trackinfo;
}

.trackTitle {
  font-size: 110%;
  font-weight: bold;
  color: black;
}

.trackArtists {
  font-size: 100%;
  color: black;
}

.buttonArea {
  grid-area: buttonarea;
  text-align: right;
  padding: 6px 0 0 0;
}

.searchControlsRow {
  display: grid;
  grid-template-areas:
    'searchtextfield searchbuttonarea';
  grid-template-columns: auto 110px;
  gap: 5px;
}

.searchTextField {
  grid-area: searchtextfield;
}

.searchButton {
  grid-area: searchbuttonarea;
}

.playlistNameRow {
  display: grid;
  grid-template-areas:
    'playlistnamelabel playlistnametextfield';
  grid-template-columns: 97px auto;
  gap: 5px;
}

.playlistNameLabel {
  grid-area: playlistnamelabel;
  height: 38px;
  align-items: center;
  padding: 5px 0 0 0;
}

.playlistNameTextField {
  grid-area: playlistnametextfield;
  height: 38px;
  align-items: center;
}
